# make artifacts
*.cmd
*.d
*.ko
*.mod
*.mod.c
*.o
modules.order
/Module.symvers

# debuild artifacts
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files
/debian/yt6801

# rpmbuild artifacts
/src/dkms.conf
/yt6801.spec

# IDE artifacts
*.kate-swp
/*.kdev4
/.vscode
